<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="param.js" defer></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div id="app" v-bind:title="descrAdd">
          <header>
              <h1>Product add</h1>
          </header>
          <!--Main param set block-->
          <div class="maininfo">              
              <p>SKU</p>
              <input type="text" v-model="listEl.SKU"/>
              <p>Name</p>
              <input type="text" v-model="listEl.name"/>
              <p>Price</p>
              <input type="number" v-model="listEl.price"/>                                       
          </div>
          <!--Element type selecter-->
          <p class="tpsel">Type</p>
          <select v-model="listEl.unPar">
                <option>CD</option>
                <option>Book</option>
                <option>Box</option>
          </select>
          <!--Unique param set block-->                             
          <div class="unParSelect">
              <div v-if= "listEl.unPar == 'CD'">
                  <p>Size</p>
                  <input type="number" v-model="listEl.unParVal">
                  <p>MB</p>
                  <br>
                  <p>Please provide capacity (Mb)</p>
              </div>
              <div v-else-if= "listEl.unPar == 'Book'">
                  <p>Weight</p>
                  <input type="number" v-model="listEl.unParVal">
                  <p>KG</p>
                  <br>
                  <p>Please provide weight (Kg)</p>
              </div>
              <div v-else-if= "listEl.unPar == 'Box'">                  
                  <p>Height</p>
                  <input type="number" v-model="size.w">
                  <p>Width</p>
                  <input type="number" v-model="size.h">
                  <p>Long</p>
                  <input type="number" v-model="size.l">
                  <br>
                  <p>Please provide dimensions in HxWxL format (cm)</p>
              </div>          
          </div>
          <!--Button & message block-->
          <div>
            <button v-on:click="add">Add</button>          
            <button onclick="window.location='productlist.html'">Back to list</button>
            <br>
            <transition name="fade">
                <p class="msgBlock" v-if="show">Product {{ listEl.SKU }}: {{ listEl.name }} was added</p>
                <p id="errMsg" class="msgBlock" v-if="errShow">Please provide all information</p>
            </transition>
          </div>          
        </div>
    </body>
</html>
