<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="param.js" defer></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div id="app" v-bind:title="descrList">
          <header>
              <h1>Product List</h1>
          </header>
          <!--Navigation block-->
          <div class="navigation">           
            <button onclick="window.location='addform.html'">Add new</button>
            <button v-on:click="delall">Clear all</button>
            <button v-on:click="delSelected">Remove selected</button>
          </div>
          <!--Element block-->
          <div class="container">          
            <table>
              <thead></thead>
              <tbody>
                <tr v-for="x in arr">
                  <td>
                    <input type="checkbox" id="checkbox" v-model="x.selected">                  
                    <p>{{x.sku}}</p>                  
                    <p>{{x.name}}</p>                  
                    <p>{{x.price}}</p>                  
                    <p v-if= "x.unpar == 'CD'">Size: {{x.unparval}} Mb</p>
                    <p v-else-if= "x.unpar == 'Book'">Weight: {{x.unparval}} Kg</p>
                    <p v-else-if= "x.unpar == 'Box'">Dimension: {{x.unparval}} W x H x L (cm)</p>                  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </body>
</html>
