/* global rules */
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    align-items: center;
    background-color:rgb(56, 93, 141);
    color: white;
    border-radius: 4px;
  }

  button {
    background-color: rgb(56, 93, 141);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  h1 {
    flex: 1;    
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.3px;    
  }

  /* productlist rules */
  
  .container {    
    background-color: rgb(56, 93, 141);
    border-radius: 4px;
  }

  table {
    border-spacing: 50px 50px;    
  }

  tr {
    float: left;    
  }

  td {
    height: 200px;
    width: 200px;
    border-color: white;
    border-style: groove;
    color: white;
    font-weight: bold;  
    text-align: center;  
  } 
  
  /* addform rules */

  .maininfo {
    background-color: rgb(56, 93, 141);
    border-radius: 4px;
    margin: 30px 0px;
    padding: 30px 30px;
    color:white;    
  } 

  .unParSelect {
    margin: 30px 0px;
    padding: 30px 30px;
    background-color: rgb(56, 93, 141);
    color: white;
    border-radius: 4px;
  }  

  .navigation {
    margin: 30px 0px;
  } 

  select, .tpsel {
    background-color: rgb(56, 93, 141);
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  #errMsg {
    background-color: red;
  }

  .msgBlock {
    background-color: rgb(56, 93, 141);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

